.all{
  text-align: center;
  margin: auto;
  float: center;
  background-color: rgb(254, 254, 93);
  font-size: medium;
  margin: auto;
  font-style: sans-serif;
}

.about-me{
  
}
ul.projects{
  float: left;
  text-align: left;
  font-size: large;
  font-style: serif;
}

.bold{

}
.img{
  height: 25%;
  width: 25%;
  object-fit: contain;
  object-position: 50% 50%;
}