.all{
  text-align: center;
  margin: auto;
  float: center;
  background-color: rgb(254, 254, 93);
  font-size: medium;
  margin: auto;

}

.about-me{
  
}
ul.projects{
  float: left;
  text-align: left;
}

.bold{
  
}