.about-me{
  text-align: center;
  
  border: 10px purple;
  border-style: groove;
  border-radius: 10px;
  padding: 10px;
  background-color: aqua;
  display: block;
  margin: auto;
  float: center;
  font-size: large;
  margin-top: 40px;
  margin-bottom: 40px;
  font-style: sans-serif;
  box-sizing: border-box;
  width: 75%;
}

.all{
  background-color: rgb(127, 151, 219);
  margin: auto; 
  border: 20px orange;
}

ol.projects{
  float: left;
  text-align: left;
  font-size: large;
  font-style: serif;
  background-color: indianred;
  width: 33%;
  min-height: auto;

}

.bold { 
  font-size: larger;

}

.img{
  height: 25%;
  width: 25%;
  object-fit: contain;
  object-position: 50% 50%;
}

.fun {
  font-style: italic;
}

.hobbies {
  float: left;
  border: 10px yellowgreen;
  background-color: fuchsia;
  padding: 10px;
  width: 67%;
  min-height: auto;
  margin: auto;
}

.h1{
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: fit-content;
  box-sizing: border-box;
}